@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&family=Roboto:wght@300&display=swap');

header {

   border: 1px solid black;
   padding: 10px;
   user-select: none;

}

body {
   background: none !important;
   height: 100%;
   margin: 20px;
   padding: 0;
   font-weight: bold;
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Mono';
}
h1,
h2 {
   text-align: center;
}
h1 {
   font-size: 2em;
}
h3 {
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 26px;
   user-select: none;
}
textarea {
   background: #fff !important;
   width: 100%;
   margin: 0 20px 0 0;
   height: 200px;
   border-radius: 10px;
   border-color: #555;
   font-size: 1em;
   resize: none;
   
}

textarea::placeholder {
   color: #c7c7c7; 
 }


textarea:hover {
   background: #fff !important;
}
textarea:focus {
   outline: none;
   background: #fff !important;
}
.grid {
   width: 40%;
   float: left;
   overflow: hidden;
   box-sizing: border-box;
   padding: 0 30px 0 0;
}
.edit {
   background: #fff !important;
   padding: 5px;
   font-family:'Roboto Mono';
   
}
.output {
   background: #fff;
   border-left: 1px solid #f3f3f3;
   overflow: hidden;
   padding: 0 20px;
   margin: 20px 0;
}
.output iframe {
   border: none;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.output iframe::-webkit-scrollbar {
   display: none;
}

.mark {
font-weight: lighter;
margin: 7px;
user-select: none;
}

.footer {
   position:fixed;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 0.6rem;
   background-color: #efefef;
   text-align: right;
   font-size: 12px;
 }

 .footer p {

   padding-right: 2%;
 }

 ::selection {
   background-color: #00ff26; /* Цвет фона выделенного текста */
   color: #ffffff; /* Цвет текста выделенного фрагмента */
 }

.html_edit {
   margin-bottom: 10%;
}